@model IEnumerable<Clase12.Models.Tarifa>

    @{
    ViewBag.Title = "ListaTarifa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>ListaTarifa</h2>

    <p>
        @Html.ActionLink("Create New", "NuevaTarifa")
    </p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Monto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descuento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descuento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                </td>

                <!-- <td> @Html.ActionLink("Delete", "Borrar", new { id = item.ID })</td>-->
                <td>
                    <button data-customer-id="@item.ID" class="btn-link js-delete"> Borrar</button>
                </td>


            </tr>
            }
        </tbody>
    </table>
    @section scripts
    {
    <script>
        $(document).ready(function () {
            $("#Tarifas").DataTable();
            $("Tarifas").on("click", ".js-delete", function ()){
                var button = $(this);
                if (confirm("seguro")) {
                    $.ajax({
                        url: "/Tarifas/Eliminar/" + button.attr("data-customer-id"),
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
           });
    </script> }
