@model Parcial2V1.Models.Clientes
@{
    ViewBag.Title = "Cliente";
}
<h1>@ViewBag.Title.</h1>
<h2>@ViewBag.Message</h2>
<h3>Cliente</h3>

<h4>@Model.Lista</h4>
<h4>@Model.Nombre</h4>
<h4>@Model.Apellido</h4>
<h4>@Model.Sueldo</h4>

